<html>
	<head>
		<title>About</title>
		<style>
			ul
			{
			list-style-type:none;
			margin:0;
			padding:0;
			overflow:hidden;
			}
			li
			{
			float:left;
			}
			a
			{
			display:block;
			width:100px;
			background-color:#dddddd;
			}
		</style>
	</head>
	<body>
		<ul>
		<li><a href="/startpage.html">Home</a></li>
		<li><a href="/about.html">About</a></li>
		<li><a href="/developers.html">Developers</a></li>
		<li><a href="/disconnect.html">Disconnect</a></li>
		</ul>
		<br></br>
		<h3>About Jpacman</h3>		
		<p>			
		JPacman is a very simple JPacman derivative, to be used for
educational purposes. 

The JPacman game is played on a rectangular board.  A cell on the
board can be empty, or can contain the player itself, one of the
several ghosts, a piece of food, or a wall. Moveable sprites such as
the player and the ghosts can make single-step horizontal or vertical
moves.  Tunnels on the border make it possible to move from one border
to the opposite border.  When a player moves over a tile containing
food, the player earns points and the food disappears. If a player and
a ghost meet at the same cell, the player dies and the game is over.
The player wins the game once he or she has eaten all food.

JPacman-Undo is an extension of JPacman made by a group of students from 
UBC as a project assignment of EECE 310. Added feature of the game includes 
an undo functionality and share functionality.
		</p>		
	</body>
</html>