<html>
	<head>
		<title>Developers</title>
		<style>
			ul
			{
			list-style-type:none;
			margin:0;
			padding:0;
			overflow:hidden;
			}
			li
			{
			float:left;
			}
			a
			{
			display:block;
			width:100px;
			background-color:#dddddd;
			}
		</style>
	</head>
	<body>
		<ul>
		<li><a href="/startpage.html">Home</a></li>
		<li><a href="/about.html">About</a></li>
		<li><a href="/developers.html">Developers</a></li>
		<li><a href="/disconnect.html">Disconnect</a></li>
		</ul>
		<br></br>
		<h3>About the Developers</h3>		
		<p>
		Isaac Cheng<br>
		Natasha Kumar<br>
		Ishan Sahay<br>
		Sarah Louise Leong
		</p>		
	</body>
</html>