<html>
	<head>
		<title>Developers</title>
		<style>
		#uiButton{
			border: 2px #fff;
			background: #ff9933;
			font-family: 'Tahoma';
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: 40px;
		}
		#uiButtonHome{
			border: 2px #fff;
			background: #ff9933;
			font-family: 'Tahoma';
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: 40px;
			margin-left: 100px;
		}
		p.text{
			font-size: 18px;
		}
		</style>
	</head>
	<body>
		<table border="0">
		<tr>
			<td>
				<form action="/" method="GET">
				<input type="submit" value="Home" id="uiButtonHome"/>
				</form>
			</td>
			<td>
				<form action="/about" method="GET">
				<input type="submit" value="About" id="uiButton"/>
				</form>
			</td>
			<td>
				<form action="/developers" method="GET">
				<input type="submit" value="Developers" id="uiButton"/>
				</form>
			</td>
			<td>
				<form action="/disconnect" method="GET">
				<input type="submit" value="Disconnect" id="uiButton"/>
				</form>
			</td>
		</tr>
		</table>
		<h2 align="center">THE DEVELOPERS</h2>		
		<p align="center" class="text">
		Isaac Cheng<br></br>
		Natasha Kumar<br></br>
		Ishan Sahay<br></br>
		Sarah Louise Leong
		</p>		
	</body>
</html>