<html>
	<head>
		<title>Disconnect</title>
			<style>
			ul
			{
			list-style-type:none;
			margin:0;
			padding:0;
			overflow:hidden;
			}
			li
			{
			float:left;
			}
			a
			{
			display:block;
			width:100px;
			background-color:#dddddd;
			}
		</style>
		
	</head>
	<body>
		<ul>
		<li><a href="/startpage.html">Home</a></li>
		<li><a href="/about.html">About</a></li>
		<li><a href="/developers.html">Developers</a></li>
		<li><a href="/disconnect.html">Disconnect</a></li>
		</ul>
		<br></br>
		<h3>Connected to Twitter</h3>
		 
		<form action="/connect/twitter" method="POST">
			<div class="formInfo">
				<p>You are connected to Twitter. Click the <b>Disconnect</b> button to logout of your Twitter account.</p>
			</div>
			<p><button type="submit">Disconnect</button></p>
			 <input type="hidden" name="_method" value="delete" />
		</form>		
	</body>
</html>