<html>
	<head>
		<title>Jpacman Score</title>
		<style>
		#uiButton{
			border: 2px #fff;
			background: #ff9933;
			font-family: 'Tahoma';
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: 40px;
		}
		#uiButtonHome{
			border: 2px #fff;
			background: #ff9933;
			font-family: 'Tahoma';
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: 40px;
			margin-left: 100px;
		}
		</style>		
	</head>
	<body>		
		<table border="0">
		<tr>
			<td>
				<form action="/" method="GET">
				<input type="submit" value="Home" id="uiButtonHome"/>
				</form>
			</td>
			<td>
				<form action="/about" method="GET">
				<input type="submit" value="About" id="uiButton"/>
				</form>
			</td>
			<td>
				<form action="/developers" method="GET">
				<input type="submit" value="Developers" id="uiButton"/>
				</form>
			</td>
			<td>
				<form action="/disconnect" method="GET">
				<input type="submit" value="Disconnect" id="uiButton"/>
				</form>
			</td>
		</tr>
		</table>
		
		<h2 style="margin-left: 100px">Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h2>
			
		<p style="margin-left: 100px; font-size: 16px">These are the recent scores shared by you and your friends on twitter</p>
		
		<table style="margin-left: 100px; margin-right: 100px">
			<tr th:each="jpacman:${jpacmanTweets}">
				<td th:text="${jpacman.fromUser}">User</td>
				<td> : </td>
				<td th:text="${jpacman.text}">Tweets</td>
			</tr>
		</table>
		
<!--				
		<h4>These are recent scores:</h4>
		
		<ul>
			<li th:each="jpacman:${jpacmanTweets}" th:text="'@'+${jpacman.fromUser}+': '+${jpacman.text}">Scores</li>
		</ul>
-->

	</body>
</html>