<html>
	<head>
		<title>Hello Twitter</title>
		<!--<meta http-equiv="refresh" content="0; url=http://twitter.com/" /> -->
	</head>
	<body>
		<h3>Connected to Twitter</h3>
		 
		<form action="/connect/twitter" method="POST">
			<div class="formInfo">
				<p>You are connected to Twitter. Click the <b>Disconnect</b> button to logout of your Twitter account.</p>
			</div>
			<p><button type="submit">Disconnect</button></p>
			 <input type="hidden" name="_method" value="delete" />
		</form>
		
		<p>
			You are now connected to your Twitter account.
			Click <a href="/">here</a> to see your Twitter friends.
			
		<form action="/connect/twitter" method="POST">
			<div class="formInfo">
				<p>Click the <b>Get Points</b> button to get recent points from Twitter account.</p>
			</div>
			<p><button type="submit">Get Points</button></p>
			 <input type="hidden" name="method" />
		</form>
		
		</p>		
	</body>
</html>